.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table tr:hover {
  background-color: #f8f9fa;
}

.table td:last-child {
  width: 70px; /* Увеличьте ширину колонки */
  text-align: center;
}

.table td:last-child button {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.table tr:hover td:last-child button {
  opacity: 1;
  transform: scale(1.2); /* Анимация увеличения */
}

.parameter-name {
  font-weight: bold;
  margin: 4px 0;
}

.parameter-value {
  margin: 4px 0;
  color: #555;
}

.table td {
  vertical-align: top;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
